
<!DOCTYPE html>

<html>
    <head>
        {% block meta_tags %}{% endblock %}
          <title>
            {% block title %}{% endblock %}
          </title>
        {% block stylesheets %}
          {% include 'ats/__base_stylesheets.html' %}
        {% endblock %}
        {% block javascript %}
          {% include 'ats/__base_javascript.html' %}
        {% endblock %}
        {% block extra_head %}{% endblock %}
    </head>


    <body>
        <header>
          {% include "ats/_navigation.html" %}
        </header>
      <div class="main-content" style="position: absolute; z-index: 0;">
      {% if no_panel_content %}
        {% block no_panel_content %}
        {% endblock %}
      {% else %}
        <div class="panel-heading" >
          {% block page_title %}
          {% endblock %}
        </div>
          <div class="panel panel-default" >
            <div class="panel-body">
              {% block content %}
              {% endblock %}
            </div>
            <div class="panel-body">
              {% block content2 %}
              {% endblock %}
            </div>
          </div>
        </div>
    {% endif %}
    </body>
</html>
