<form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in fields %}
        <div class="control-group {{ field.html_name }} {% if field.errors %}error{% endif %}">
            <label class="control-label">{{ field.label }}</label>
            <div class="controls">
              {{field}}:<br><input name={{field}} type={{field}}>
              {% if field.errors %}<span class="help-inline">{{ field.errors.as_text }}</span>{% endif %}
            </div>
        </div>
    {% endfor %}
    <br>
    <div class="form-actions">
        <input class="btn btn-primary btn-large" type="submit" value="Submit"/>
    </div>
</form>
