<style>
.navbar-fixed-left {
  width: 50px;
  position: fixed;
  border-radius: 0;
  height: 100%;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 50px;
}

.navbar-fixed-left + .container {
  padding-left: 50px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 50px;
}


</style>

<div class="navbar navbar-inverse navbar-fixed-left" style="position: fixed; z-index: 1;">
  <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span></a>
  <ul class="nav navbar-nav">
   <li><a href='/'><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
   <li><a href='/new_candidate'><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
   <li><a href='/new_job'><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span></a></a></li>
   <li><a href='/search'><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></a></li>
   <li><a href='/calendar'><span class="glyphicon glyphicon-th" aria-hidden="true"></span></a></a></li>
   <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
     <ul class="dropdown-menu" role="menu">
      <li><a href="/upload_resume">Upload Resume</a></li>
      <li><a href="/logout">Logout {{user}}</a></li>`
     </ul>
   </li>
  </ul>
</div>
